.header__nav a {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  @media (max-width: 1139px) {
    font-size: 18px;
  }
}

.header__icon a {
  position: relative;
}

.header__icon a:active {
  top: 2px;
}
.header__nav-list {
  display: flex;
  justify-content: space-between;
  column-gap: 100px;

  // tablet big media*/
  @media (max-width: 1199px) {
    column-gap: 50px;
  }

  @media (max-width: 899px) {
    display: none;
  }
}
.header__nav-list span {
  position: relative;
  display: inline-block;
  z-index: 2;
}

.header__nav-icon {
  display: none;

  @media (max-width: 1139px) {
    display: block;
  }
}
