//* nav-icons*/
.svg-ln {
  width: 32px;
  height: 32px;
  @media (max-width: 1139px) {
    width: 28px;
    height: 28px;
  }
}
.svg-github {
  width: 42px;
  height: 42px;
  @media (max-width: 1139px) {
    width: 36px;
    height: 36px;
  }
}
